.header             {border-bottom: 2px solid black;}

.header__row {
    align-items: center;
    padding: 10px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.14;
}

.header__col        {flex: 1 0 calc(100%/3);}  /* 3 равных блока в хедере */

/* nav block*/
.header__nav__item  {display: inline-block;} /* Выставление в одну строку*/


.header__nav__item:not(:last-child) {margin-right: 25px;}  /* Отступы между ссылками*/

.header a:hover     {text-decoration: underline;}

/* logo */
.header__col-logo   {text-align: center;}    /* Выравниваем лого по центру*/

/* user block*/
.header__user {
    float: right;                           /* Позиционируем user block вправо */
    display: inline-flex;
    align-items: center;
}

.header__user span  {margin-right: 25px;}

@media (max-width: 760px) {
    .header__col    {flex: 1 0 auto;}
}

@media (max-width: 550px) {
    .header__col ul,
    .name                   {display: none;}

    .header__col-logo       {flex: 0 0 40px;}

    .header__col-logo img   {max-width: 100%;}

    .menu-icon-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
        
    .menu-icon {
        position: relative;
        width: 30px;
        height: 2px;
        background-color: #000;
    }
        
    .menu-icon::before {
        position: absolute;
        left: 0;
        top: -10px;
        content: '';
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
        
    .menu-icon::after {
        position: absolute;
        left: 0;
        top: 10px;
        content: '';
        width: 30px;
        height: 2px;
        background-color: #000;
        transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    }
        
    .menu-icon.menu-icon-active {background-color: transparent;}
        
    .menu-icon.menu-icon-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
        
    .menu-icon.menu-icon-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }
}
